h1{
    font-style: oblique;
    color:darkred;
    text-align:center;
    
}
.navbar{
    background-color: red;
    text-align: left;
    height:40px ;
    

}
.cen{background-color: aquamarine;
   
}
